<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/chat.css" />
    <title>Chat</title>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-brand">Aplikasi Chat</div>
    </nav>
    <div class="wrapper">
      <div class="chat-container">
        
      
    </div>
    <div class="chat-form" action="/" method="post">
      <input
        class="input-message"
        type="text"
        placeholder="ketik sesuatu..."
      />
      <button class="btn-send">kirim</button>
    </div>
  </body>
  <script src="public/js/jquery.js"></script>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="public/js/chat.js"></script>
</html>